.layoutContainer {
  display: flex;
  flex-direction: column;
  
  width: 90%;
  max-width: 1500px;
  margin: 0 auto;
  padding: 20px;
}

body, html {
  height: 100%;
  margin: 0;
}



/* Top Component */
.topComponent {
  width: 100%;
  margin-bottom: 70px; /* Space between top and bottom sections */
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.topComponent:hover {
  transform: translateY(-5px); /* Move the component up slightly */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Add a shadow effect */
}

/* Bottom Container (Side-by-Side Layout) */
.bottomContainer {
  display: flex;
  gap: 50px; /* Space between left and right components */
  justify-content: space-between;
  width: 100%;
  max-width: 1500px; /* Adjust this value to your desired maximum width *//* Adjust this value to your desired maximum height */
}


/* Left Component (MarketTop) */
.leftComponent {
  flex: 1;
  min-width: 60%;

  padding: 5px;
  display: flex;
  flex-direction: row;
  align-items: left;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.leftComponent:hover {
  transform: translateY(-5px); /* Move the component up slightly */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Add a shadow effect */
  
}

/* Right Component (Analyst) */
.rightComponent {
  flex: 1; /* Takes less space */
  min-width: 100%;

  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: right;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.rightComponent:hover {
  transform: translateY(-5px); /* Move the component up slightly */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Add a shadow effect */
}

